.expense-item {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: auto;
  /*border: 1px solid black;*/
}
.expense-item + .expense-item {
  border-top: 1px solid #4b4b4b;
}
.expense-item.nodata > * {
  display: none;
}
.expense-item.nodata:before {
  content: "No Data";
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  text-align: center;
}
.number {
  padding: 0 10px;
  font-weight: 500;
}
.desc {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.date {
  display: flex;
}
.date > div {
  margin-left: 10px;
}

.nodata {
}
