* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "SpoqaHanSansNeo";
}
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/SpoqaHanSansNeo-Bold.woff) format('woff2');
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/SpoqaHanSansNeo-Regular.woff) format('woff2');
}

#app {
}
.home {
  height: 100vh;
  background: tomato;
  padding: 150px;
  color: #fff;
  box-sizing: border-box;
  font-family: 'SpoqaHanSansNeo';
}
.home h1 {
  font-family: "Press Start 2P";
}
h1 {
  font-size: 2em;
}
p,span{
  font-family: 'SpoqaHanSansNeo';
}
button,
a {
  font-family: "Press Start 2P";
  background: transparent;
  padding: 5px;
  cursor: pointer;
  animation: scale 0.5s forwards;
}

.wrap {
  display: block;
  width: 700px;
  height: auto;
  margin: 0 auto;
  padding: 150px 50px;
}

.wrap h1 {
  color: #000;
  text-align: center;
  margin-bottom: 50px;
}
ul.list {
  margin-top: 10px;
}

ul.list li {
  padding: 5px 15px 10px 25px;
  list-style: none;
  border: 1px solid #000;
  border-radius: 5px;
}

ul.list li + li {
  margin-top: 15px;
}

ul.list li:before {
  content: "📌";
  margin: 0 0 0 -20px;
}

ul.list li > .ex {
  margin-top: 7px;
}

ul.list li > ul li{
  border:none;
  background:#eee;
}
ul.list li > ul li:before{
  content:'👀';
  font-size:12px;line-height: 22px;
  vertical-align: top;
}
.code {
  margin: 5px 0 0;
  padding: 5px 10px;
  border-radius: 5px;
  background: #000;
  color: #fff;
}

.code pre {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 700;
}

label + label {
  margin-left: 15px;
}

label input {
  width: 30px;
}

input {
  /*display: block;*/
  line-height: 25px;
  border: 1px solid #000;
  color: #000;
  padding: 5px;
  border-radius: 5px;
}

.hlight {
  margin: 0;
  line-height: 1;
  padding: 0;
  color: orange;
}
.blight {
  display: inline-block;
  padding: 0 5px;
  border-radius: 2px;
  width: auto;
  background: #fffa99;
  color: #000;
}
.blight::before {
  content: "👀::";
  font-size: 15px;
}
.blight.ty2::before {
  content: "😠::";
  font-size: 15px;
}
.blight .hlight {
  color: navy;
  font-weight: bold;
}
.green {
  color: green;
}

.clearAllContainer {
  margin: 0 auto;
}

.clearAllBtn {
  margin: 20px auto 0;
  display: block;
}

.link-box {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.link-box a {
  color: #fff;
}

.label {
  padding-left: 25px;
  position: relative;
}
.label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: #fff;

  box-shadow: 0 0 0 3px #000 inset;
}
.label.checked:before {
  box-shadow: 0 0 0 3px #000 inset;
  background: #fff;
  box-sizing: border-box;
}
.label.checked:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  z-index: 10;
  width: 12px;
  height: 12px;
  background: #000;
}
.label span {
  font-size: 15px;
  color: black;
}
.label.checked span {
  color: #000000;
  font-weight: 700;
}
label input[type="checkbox"],
label input[type="radio"] {
  display: none;
}

input {
  /*display: block;*/
  line-height: 25px;
  border: 1px solid #000;
  color: #000;
  padding: 5px;
  border-radius: 5px;
}
h2 {
  font-size: 2rem;
}
.box {
  margin-top: 10px;
  font-size: 1.5rem;
}
.box span {
  font-size: 1.5rem;
}
.box + h2 {
  margin-top: 50px;
}
.box .hlight {
  background: #000;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
}
