/node_modules/
/v-model/node_modules/
/v-model/.idea/jsLinters/
/v-model/.idea/
/.idea/inspectionProfiles/Project_Default.xml
/v-model/package-lock.json
/.idea/
/react_study/src/reportWebVitals.js
/react_study/public/robots.txt
/react_study/src/setupTests.js
/react_study/src/logo.svg
/react_study/public/logo192.png
/react_study/public/logo512.png
/react_study/public/manifest.json
