.container {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background: #000;
}

button {
  background: transparent;
  color: #fff;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: bold;
}

.nodata {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
